.editor-header{
  height: 40px;
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  /* border-bottom: 1px solid #eee; */
  padding: 0 40px;
}


.editor-header .tool{
  display: block;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  font-size: 16px;
  margin:0 5px;
}
.editor-header .tool.actived {
  cursor: pointer;
  background-color: #eee;
  border-radius: 4px;
  color:#555;
}

.editor-header .ant-divider{
  height: 15px;
}

.editor-header .tool.normal {
  color:#666;
  cursor: pointer;
}

.editor-header .tool.disabled {
  color:#ccc;
  cursor: not-allowed;
}

.editor-header:after{
  position: absolute;
  top: 40px;
  right:-50%;
  left:-50%;
  height: 1px;
  content: ' ';
  background-color: #eee;
  width: 200%;
  transform: scale(.5);
}

.editor-content {
  padding: 60px 40px 20px 40px;
}

.editor-content .article {
  line-height: 1.75;
  color:#555;
  font-size:14px;
  font-family: PingFangSC-Regular, sans-serif;
}

.editor-content .article p{
  margin: 0 0 10px 0;
}

.editor-content .article h1{
  font-size: 26px;
}

.editor-content .article h2{
  font-size: 24px;
}

.editor-content .article h3{
  font-size: 22px;
}

.editor-content .article h4{
  font-size: 20px;
}

.editor-content .article h5{
  font-size: 18px;
}

.editor-content .article h6{
  font-size: 16px;
}

.editor-content .article strong{
  font-weight: bolder;
}

.editor-title{
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin:0;
  margin-bottom: 20px;
}

.editor-content .article blockquote{
  border-left: 3px solid #eee;
  padding-left: 15px;
  color:#999;
}

.editor-content .article code{
  background-color: #eee;
  padding: 2px 3px;
  border-radius: 4px;
}

.editor-content .article hr{
  height: 1px;
  width: 100%;
  background-color: #ddd;
  border:0;
}

.disabled {
  cursor: not-allowed;
  color: #ccc;
}