.editor-header{
  height: 40px;
  background-color: #fff;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  /* border-bottom: 1px solid #eee; */
  padding: 0 40px;
}

.editor-header .tool.actived {
  color:#ff0000;
}

.editor-header .tool.normal {
  color:#333;
}

.editor-header .tool.disabled {
  color:#ccc;
}

.editor-header:after{
  position: absolute;
  top: 40px;
  right:-50%;
  left:-50%;
  height: 1px;
  content: ' ';
  background-color: #eee;
  width: 200%;
  transform: scale(.5);
}

.editor-content {
  padding: 60px 40px 20px 40px;
}

.editor-content .article {
  line-height: 1.5;
  color:#555;
  font-size:14px;
  font-family: Microsoft YaHei;
}

.editor-content .article p{
  margin: 0 0 10px 0;
}

.editor-content .article h1{
  font-size: 26px;
}

.editor-content .article h2{
  font-size: 24px;
}

.editor-content .article h3{
  font-size: 22px;
}

.editor-content .article h4{
  font-size: 20px;
}

.editor-content .article h5{
  font-size: 18px;
}

.editor-content .article h6{
  font-size: 16px;
}

.editor-content .article strong{
  color:#000;
  padding: 0 3px;
}